# Advent Of Code 2020
## Day 1

In [81]:
import pandas as pd

In [82]:

df = pd.read_csv('./data/day1.txt', names=['value'])
df

     value
0     1664
1     1939
2     1658
3     1791
4     1011
..     ...
195   1983
196   1784
197   1671
198   1807
199   1943

[200 rows x 1 columns]

In [83]:
df_matches = df.merge(2020 - df)
df_matches

   value
0   1236
1    784

## Day 1: First Answer:

In [84]:
df_matches.value[0] * df_matches.value[1]

969024

## Day 1: Second Answer:

In [85]:
df_sums = 2020 - df
df_b = pd.DataFrame(
    data=df_sums.apply(lambda s: (s - df).value, axis='columns').values.flatten(),
    columns=['value']
).drop_duplicates()
df_c = pd.DataFrame(
    data=df_b.apply(lambda b: (df_sums - b).value, axis='columns').values.flatten(),
    columns=['value']
).drop_duplicates()
df_results = df.merge(df_b).merge(df_c)
df_results.value[0] * df_results.value[1] * df_results.value[2]

230057040