# Advent Of Code 2020
## Day 1

In [116]:
from IPython.display import display, HTML

In [117]:
display('hello world')

'hello world'

Alright good, got myself to a baseline. Python works, I'm in a notebook, I'm ready to rock my way through these coding challenges.

Now, for day 1's first step, looks like I have a file I'll need to read in as a data frame, so being able to `read_csv` seems like a good first step.

In [118]:
import pandas as pd
df = pd.read_csv('./data/day1.txt', names=['value'])
df

     value
0     1664
1     1939
2     1658
3     1791
4     1011
..     ...
195   1983
196   1784
197   1671
198   1807
199   1943

[200 rows x 1 columns]

Yep, that worked. Now, I need to find which 2 rows add up to 2020. I think I can start by calculating what each row would need their partner value to be (`2020 - x`), and then pass that to `.merge` to find the matching (partner) rows.

In [123]:
df_matches = df.merge(2020 - df)
df_matches

   value
0   1236
1    784

### WOO!
Found my two matching values. Now to multiply them together to get my answer:

In [124]:
display(HTML('<h2>Day 1: First Answer</h2>'))
df_matches.value[0] * df_matches.value[1]

969024